* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*Clases*/





.tipografia {
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;

}

.subtitulos {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.position {
  position: relative;
  background-color: blue;
  bottom: 105px;
  left: 660px;
  top: -180;
  z-index: 9;
}



.card {
  width: 300px;
  border: 2px solid grey;
  border-radius: 15px;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;
  text-align: center;

}

.card img {
  width: 100%;

}


.contenedor_limite {
  background-color: rgb(231, 220, 220);
  max-width: 700px;
  margin: 0 auto;
}

.contenedor_padre {
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;

}

.descripcion {
  font-family: "Viga", sans-serif;
  font-weight: 10px;
  font-style: normal;
  text-align: start;
  font-size: 20px;
 
}

.logo{
 width: 300px;
 height: auto;


}

.logo_empresa{
  display: block;
  margin: 0 auto;
  max-width: 100%; 
  height: 200px;

}
.tamaño{
  font-size: 50px;
  text-align: start;
  color: #007bff
}
.envio_gratis{
  width: 500px;
 
}

.fondo{
  background-color: rgb(255, 255, 255) ;
  font-size: 50px;
  padding: 30px;
  border-radius: 25px;
  border:2px solid grey;
  display: flex;
 margin-top: 10px;
margin-left: 150px;
margin-right: 150px;

}

.gama{
  font-size: 60px;
}

.lapa{
  
  margin: 0 10px;
  max-width: 100%; 
  height: 60px;
  display: inline-block;
}
  
  


.logo_contacto{
  height: 60px;
  padding: 0 10px 0px 10px;
 
  
}

.contenedor_logos {
  text-align: center; 
}










/*-----------grilla----------*/

.parent {
max-width: 400px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1px;
grid-row-gap: 0px;
}

.div1 {
   grid-area: 1 / 1 / 2 / 3; 
  }
  .div1 img{
    width: 100%;
  }
.div2 {
   grid-area: 2 / 1 / 3 / 2;
   }
   .div2 img{
    width: 100%;
  }
.div3 {
   grid-area: 2 / 2 / 3 / 3; 
  }
  .div3 img{
    width: 100%;
  }

  .contacto {
display: grid;
grid-template-columns: 2fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 11px;
grid-row-gap: 18px;

}

.red1 {
   grid-area: 1 / 1 / 2 / 2;
   }
.red2 {
   grid-area: 2 / 1 / 3 / 2; 
  }
.red3 {
   grid-area: 3 / 1 / 4 / 2; 
  }
.red4 {
   grid-area: 4 / 1 / 5 / 2; 
  }











/*Textos( titulos, subtitulos)*/
h1 {
  font-size: 85px;
  z-index: 10;
  position: absolute;
  color: white;
  top: 40px;
  left: 25px;

}


li a{
  color: white;

}

li a :hover{
  color: red;
}

nav {
  position: absolute;
  top: 50px;
  right: 20px;

}

nav ul {
  list-style: none;
  
}

nav li {
  display: inline;
}

nav a {
  color: white;
  padding-right: 10px;
  font-weight: bold;
}

nav a:hover {
  color: red;
 
}

a .tipografia{
  color: black;
  font-weight: 1px;
}
 a .tipografia:hover {
    color:  #1e70ec;
    transform: scale(1.1);
     
    
}


head {
  background-color: #f4f4f4;
}

header {
  background-color: #141c24;
  position: relative;
  padding: 100px;
  
}

footer {
  background-color: #141c24;
  color: white;

}


section {
  margin: 80px;
}

body {
  background-color: #e4e4e4;
}

a {
  text-decoration: none;

}

h5 {
  font-size: 30px;
  color: white;
}



/*------------Media query------------*/

@media screen and (max-width:520px) {

  nav {
    position: absolute;
    left: 10px;
    top: 160px;

  }

  h1 {
    left: 15px;

  }

  h2 {
    text-align: center;
  }


}

@media screen and (max-width:460px) {
  nav {
    position: absolute;
    left: 10px;
    top: 160px;

  }

  h1 {
    left: 15px;
    font-size: 67px;



  }

  h2 {
    text-align: center;

  }


}
@media screen and (max-width:720px) {
  nav {
    position: absolute;
    top: 160px;
    padding: 10px;
    

  }
 }
 

 @media (max-width: 569px) {
  .fondo {
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20PX;
    
    
    
  }

  .logo_contacto {
    height: 40px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 864px) {
  .fondo {
    font-size: 38px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20PX;
    
    
  }

  .logo_contacto {
    height: 40px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 462px) {
  .fondo {
    font-size: 25px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20PX;
    
    
    
  }

  .logo_contacto {
    height: 40px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width:583px) {
  .envio_gratis{
    width: 250px;
  }
}

@media screen and (max-width:627px) {
  .quienes_somos{
    font-size: 50px;
  }
}


  
 /*------grilla oferta--------*/

 .oferta {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 7px;
grid-row-gap: 7px;
}


.off1 {
   grid-area: 1 / 1 / 2 / 4;
   display: block;
  
   }
   .off1 img{
    width: 100%;
  height: auto;
  
  border-radius: 10px;
   }
   
   
.off2 {
   grid-area: 2 / 1 / 3 / 2; 
   background-color: white;
    border-radius: 10px;
    display: flex;
  flex-wrap: wrap;
  } 

  .off2 img{
    width: 100%;
  height: auto;
  
   }
 
.off3 {
   grid-area: 2 / 2 / 3 / 3; 
   background-color: white;
    border-radius: 10px;
    display: flex;
  flex-wrap: wrap;
  }

  .off3 img{
    width: 100%;
  height: auto;
 
   }
  
.off4 {
   grid-area: 2 / 3 / 3 / 4;
   background-color: white;
    border-radius: 10px;
    display: flex;
  flex-wrap: wrap;
   }

   .off4 img{
    width: 100%;
  height: auto;
  
   }
.off5 {
   grid-area: 3 / 1 / 4 / 2; 
   background-color: white;
    border-radius: 10px;
    display: flex;
  flex-wrap: wrap;
  }

  .off5 img{
    width: 100%;
  height: auto;
  
   }
.off6 {
   grid-area: 3 / 2 / 4 / 3;
   background-color: white;
    border-radius: 10px;
    display: flex;
  flex-wrap: wrap;
   }

   .off6 img{
    width: 100%;
  height: auto;
  
   }
.off7 {
   grid-area: 3 / 3 / 4 / 4; 
   background-color: white;
    border-radius: 10px;
    display: flex;
  flex-wrap: wrap;
  }

  .off7 img{
    width: 100%;
  height: auto;
  
   }

   .oferta h3{
    background-color:  #3484fc;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
    border-radius: 10px;
   }

   .oferta  p{
    padding: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   .oferta h4{
    
    font-size: 20px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }





   footer div {
  flex: 1 1 250px;              
  margin: 10px;
}

footer h3 {
  border-bottom: 2px solid #ff0000; 
  padding-bottom: 8px;
  margin-bottom: 12px;
}

footer a {
  color: #ff0000;               
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p footer ul {
  line-height: 1.5;
}

footer ul {
  list-style: none;
  padding-left: 0;
}
   







